h1, h2, h3, h4, h5, h6 {
  text-align: center; }

.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px; }

section h2 {
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important; }

section h3, section h6 {
  color: #95524E;
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important; }

section {
  min-height: 4em;
  clear: both; }

#directory {
  background: #D6FBA9;
  height: auto;
  z-index: -2;
  position: relative; }

.contact-info {
  float: left;
  margin-left: -3.5em;
  background: darkslateblue;
  height: 200px;
  color: #fff;
  transform: skew(17.5deg, 0deg);
  -ms-transform: skew(17.5deg, 0deg);
  -webkit-transform: skew(17.5deg, 0deg); }

.contact-info a {
  color: lightblue; }

.contact-text {
  transform: skew(-17.5deg, 0deg);
  -ms-transform: skew(-17.5deg, 0deg);
  -webkit-transform: skew(-17.5deg, 0deg); }

#code-list {
  display: inline; }

#code-list li {
  display: inline-block; }

#code-list li a {
  font-size: 2em;
  text-align: center; }

#resume {
  background: #F9FBE7; }

#projects {
  background: #C8A6A4; }

#pizza {
  background: #FBE7F7; }

.show {
  display: block; }

.hide {
  display: none; }

ul {
  list-style: none; }
