@import url("https://fonts.googleapis.com/css?family=Muli:300,100");
body {
  background: green;
  font-family: "Muli"; }

#job-title {
  color: dodgerblue;
  font-style: italic;
  font-weight: 100; }

h1, nav ul li a {
  color: #fff; }

h1, nav ul li a, .seperator {
  animation: reveal 1s 2s forwards; }

.spotlight-row {
  margin-top: 2em; }

.spotlight-left {
  color: #fff;
  position: absolute;
  background: #202020;
  height: 3em;
  width: 3em;
  left: 20%;
  border-radius: 90% 0% 360% 0%;
  animation: turn-on-lights-left 1s 2s forwards; }

.spotlight-right {
  color: #fff;
  position: absolute;
  background: #202020;
  height: 3em;
  width: 3em;
  right: 33%;
  border-radius: 90% 0% 0% 360%;
  animation: turn-on-lights-right .5s 2.5s forwards; }

.feature {
  text-align: center; }

.feature h5 {
  font-style: italic;
  font-family: 'Sonsie One';
  color: dodgerblue; }

.seperator {
  height: .1em;
  background: lightblue; }

ul {
  list-style: none; }

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.65em; }

ul li a:hover {
  color: lightblue;
  text-decoration: none; }
