@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,300,500");
body {
  background: #4614FF;
  line-height: 150%; }

h1 {
  color: #3BCFE8;
  font-weight: 400;
  opacity: 1.5; }

h2 {
  text-align: center;
  color: #3BCFE8;
  font-weight: 500; }

h3 {
  font-weight: 100;
  color: #21FF25;
  font-style: italic;
  position: relative; }

section {
  background: #282828;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  height: 85vh; }

#profile-pic {
  border-radius: 50%;
  position: absolute;
  height: 15em;
  width: 15em;
  right: 10vw;
  top: 10vh; }

.tinting {
  position: relative;
  background-color: #282828;
  opacity: .75;
  height: 100%;
  width: 90vw;
  overflow: visible; }

#home h6 {
  padding-top: 25vh;
  margin-left: 22.5%; }

.btn-action {
  background: #3BCFE8;
  color: #fff; }

.btn-outline-secondary {
  color: #fff;
  border-color: #fff; }

.fa-hand-o-down {
  text-align: center;
  margin: 0 42.5vw;
  color: #E8D112; }

ul {
  list-style: none; }

#projects li {
  display: flex; }

#projects li a {
  display: inline-flex; }

.circle {
  border-radius: 50%;
  width: 15em;
  height: 15em;
  margin-top: 2.25em; }

span.title {
  position: relative;
  top: 17.75em;
  left: -12.25em;
  margin: .35em; }

footer {
  position: relative;
  font-weight: 400; }

form {
  color: #3BCFE8;
  font-weight: 400; }

textarea {
  overflow: hidden; }

#home .fa:hover {
  color: #21FF25;
  content: 'Learn More'; }

#home .fa:hover:after {
  color: #21FF25;
  content: 'Learn More';
  position: relative;
  top: 1.4em;
  right: 3em;
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  font-weight: 300; }
