$directory-color: #D6FBA9;
$resume-color: #F9FBE7;
$projects-color: #C8A6A4;
$pizza-color: #FBE7F7;
$headline-color: #95524E;
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
section h2 {
    
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
}
section h3, section h6 {
    color: $headline-color;
        -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;

    
}
section {
    min-height:4em;
    margin: none !important;
}
#directory{
    background: $directory-color;
    
}
#resume{
  background: $resume-color;  
}
#projects{
    background: $projects-color;
}
#pizza{
    background: $pizza-color;
    
}