$directory-color: #D6FBA9;
$resume-color: #F9FBE7;
$projects-color: #C8A6A4;
$pizza-color: #FBE7F7;
$headline-color: #95524E;
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
.circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
section h2 {
    
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
}
section h3, section h6 {
    color: $headline-color;
        -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;

    
}
section {
    min-height:4em;
    clear:both;
   
}
#directory{
    background: $directory-color;
    height:auto;
    
}
.contact-info {
    float:left;
    margin-left: 1em;
}
#code-list {
    display:inline;
}
#code-list li{
    display:inline-block;
}
#code-list li a {
    font-size:2em;
    text-align: center;
    
}
#resume{
  background: $resume-color;  
}
#projects{
    background: $projects-color;
}
#pizza{
    background: $pizza-color;
    
}
.show {
   display:block; 
}
.hide {
    display: none;
    
}
ul  {
    list-style:none;
    
}