@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,700');

$primary-color:#CEC8E6;
$secondary-color:#FF8219;
$tertiary-color:#3700FF;
$quaternary-color:#C8E6C9;
$quinary-color:#09B20F;
$dark: #282828;
$light: #fff;




body {
  background: $primary-color;
  line-height: 150%;
  
  
}

h1 {
  color: $secondary-color;
  font-weight:700;
  
}
h2{
  text-align:center;
  color: $tertiary-color;
  font-style: italic;
  font-weight:400;
}
h3 {
  font-weight: 100;
}
#home {
  background:$dark;
  color: $light;
  font-family: 'Work Sans', sans-serif;
  font-weight:100;
}
.icon-prompt {
 color: $quaternary-color;
 margin-left:50%;
}

#biography p{
  color: transparent;
}
ul {
  list-style:none;
}

footer{
    position: relative;
    font-weight: 400;
}