@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400i,500');

$primary-color:#FF7C00;
$secondary-color:#FF8919;
$tertiary-color:#FFE000;
$quaternary-color:#008DB2;
$quinary-color:#00F1B2;
$dark: #282828;
$light: #fff;
$primary-font: 'Work Sans', sans-serif;



body {
  background: $quaternary-color;
  line-height: 150%;
}
#home {
  background: linear-gradient(to bottom, rgba(40,40,40, 0.0) , rgba(40,40,40, 0.75));
  color: $light;
  opacity:1.5;
}
.container-fluid {
  margin-top: .8em;
}
h1 {
  color: $quinary-color;
  font-weight:400;
  opacity: 1.5;
  
}
h2{
  text-align:center;
  color: $quinary-color;
  font-weight:500;
}
h3 {
  font-weight: 100;
  color: $primary-color;
  font-style: italic;
  position:relative;
  
}
h6{
  color: $primary-color;
  z-index:1;
}
#personal-logo {
  position:absolute;
  color: $primary-color;
  font-variant: small-caps;
  font-weight:500;
  height:1.45em;
  width:1.45em;
  padding: 0;
   font-size:2em;
  border: 3px solid $tertiary-color;
  margin: .5em;
  padding-top: .25em;
  padding-left:.075em;
  
}
#social-links {
  display: inline;
  
}
#social-links li {
  display:inline-block;
  float: right;
}
section {
  background:$light;
  color: $dark;
  font-family: $primary-font;
  font-weight:300;
  min-height: 85vh;
  height: auto;
  
}


#home h6 {
  padding-top:25vh;
  margin-left: 22.5%;
}
.btn-action {
  background:$secondary-color;
  color: $light;
}
.btn-outline-secondary {
  color:$light;
  border-color: $light;
  
}
.fa-hand-o-down {
  text-align:center;
  margin: 0 47.5vw ;
  color: $tertiary-color;
}

#home .fa-hand-o-down {
  padding-top:15vh;
}
ul {
  list-style:none;
}
#projects ul {
   margin-bottom: 1.5em;
   display:inline;
}
#projects li {
  display:inline-block;

  margin: .75em auto;
}
#projects li .card {
  margin-bottom: .65em;
  height: 35em;
  width: 22.5em;
}
#projects a:hover {
  text-decoration: none;
  color: $light;
}
.card-image-top {
 width:100%;
}
.card-block {
  position: absolute;
  bottom: 0;
}
span.title{
  display: inline-block;
  color: $light;
  font-weight:500;
  width:7em;
  padding:0;
  margin:0;
}
#contact {
  padding-top:2em;
  background: $quinary-color;
}
form {
  color: $dark;
  font-weight:400;
  padding-bottom:2em;
  
}
label {
  font-family: 'Work Sans';
  font-style: italic;
  
}
textarea {
  overflow:hidden;
}

//tooltips


.fa:hover {
  color: $tertiary-color;

}
.fa:hover:after {
    position:relative;
  color: $tertiary-color;
    font-family: $primary-font;
  font-style: italic;
  font-weight: 300;
  font-size: 80%;
}
#home .fa-hand-o-down:hover:after {
  content: 'See My Work...';
  position:relative;
  color: $tertiary-color;
  display:inline-block;
  width: 12em;
  top: 1.4em;
  right: 6em;

}
#biography .fa-hand-o-down:hover:after {
  content: 'See My Work...';
  position:relative;
  color: $tertiary-color;
  display:inline-block;
  width: 12em;
    top:1.4em;
    right:6em;
}

#projects .fa-hand-o-down:hover:after {
  content: 'Send Me a Message...';
  position:relative;
  color: $tertiary-color;
  display:inline-block;
  width: 12em;
  top:1.4em;
  right:6em;

}