@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,500');

$primary-color:#CEC8E6;
$secondary-color:#FF8219;
$tertiary-color:#3700FF;
$quaternary-color:#C8E6C9;
$quinary-color:#09B20F;
$dark: #282828;
$light: #fff;




body {
  background: $primary-color;
  line-height: 150%;
  
  
}

h1 {
  color: $secondary-color;
  font-weight:400;
  
}
h2{
  text-align:center;
  color: $secondary-color;
  font-weight:500;
}
h3 {
  font-weight: 100;
  color: $tertiary-color;
  font-style: italic;
}
#home, #biography, #proejects, #contact{
  background:$dark;
  color: $light;
  font-family: 'Work Sans', sans-serif;
  font-weight:200;
  height: 100vh;
}
.btn-action {
  background:$secondary-color;
  color: $light;
}
.btn-outline-secondary {
  color:$light;
  border-color: $light;
  
}


ul {
  list-style:none;
}
#projects li {
  display:flex;
}
#projects li a {
  display:inline-flex;
}
.circle {
  border-radius:50%;
  width: 15em;
  height: 15em;
  margin-top: 2.25em;
}
span.title{
  position: relative;
  top: 17.75em;
  left: -12.25em;
  margin: .35em;

}

footer{
    position: relative;
    font-weight: 400;
}