 <!DOCTYPE html>
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
                          
 <!-- Compiled and minified CSS -->


<link rel="icon" type="image/ico" href="images/favicon.ico">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"> 
  <link rel="styleSheet" href="css/style.css" type="text/css" media="screen">
  <link rel="styleSheet" href="css/pic.css" type="text/css" media="screen">
  <link rel="styleSheet" href="css/font-awesome.css" type="text/css" media="screen">
  <!--  [if lt IE 9]>-->
  <!--<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
  <!--<![endif]-->


    </head>

    <body>
      <div class=''>
        
        <section id='home'>
          <div class='row first-row'>

          
              <ul id='social-links'>
                <li>
                  <a href='https://github.com/kevintrogers'><i class='fa fa-github-alt' aria-hidden='true'></i></a>
                </li>
                <li>
                  <a href='https://codepen.io/MonkeyMaker'><i class='fa fa-codepen' aria-hidden='true'></i></a>
                </li>
                <!--<li>-->
                <!--  <a href='https://www.facebook.com/spicymonkeymedia'><i class='fa fa-facebook' aria-hidden='true'></i></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--  <a href='https://twitter.com/spicymonkymedia'><i class='fa fa-twitter' aria-hidden='true'></i></a>-->
                <!--</li>-->
                <li>
                  <a href='https://www.linkedin.com/profile/view?id=AAIAAAmBUKoBdbOrqAwzQRxcyyy6wp_9xl90TVk&trk=nav_responsive_tab_profile'><i class='fa fa-linkedin' aria-hidden='true'></i></a>
                </li>
              </ul>
            </div>
          <div class='box' id='profile-pic' >
		<div class='head'>

				<div class='hair-left'></div>
				<div class='hair-top'></div>
				<div class='hair-right'></div>
				<div class='ear-left'></div>
				<div class='ear-right'></div>
				<div class='glasses frame-left'></div>
				<div class='glasses lens-left'></div>
					<div class='eye eye-left'><div class='brow'></div><div class='iris'><div class='pupil'></div></div></div>
					<div class='glasses connector'></div>
					
				
				
				
				
					<div class='eye eye-right'><div class='brow'></div><div class='iris'><div class='pupil'></div></div></div>
				<div class='glasses lens-right'></div>
				<div class='glasses frame-right'></div>
				<div class='nose'></div>
				<div class='upper-lip'></div>
				<div class='teeth'></div>
				<div class='lower-lip'>
					
			</div>
			<div class='neck'>
			
				
			</div>
		</div>
	</div>
	

            <div class='row'>
              <h6>Old Soul. Modern Design.</h6>
            </div>
            
            
            <div class='row'>
              <h1 class='col-8 offset-2'> I build with code.</h1>
            </div>
            
            <div class='row'>
              <p class='col-8 offset-2'>I am a full stack web developer with a passion for creating clean and practical user interfaces.</p>
              <p class='col-8 offset-2'>My first web development experiences were modifying WordPress Themes. Since then, I have created custom Word Press themese, Meteor JS and full stack PHP applications. I am currently in love with Vue JS.</p>
            </div>
            
            
            <div class='row'>
               <a href='#projects' type='link'><i class="fa fa-hand-o-down" aria-hidden="true"></i></a>
            </div>
        

        </section>

          
        </section>
        <section id='projects'>
          <h2>Some Recent Projects</h2>
          
          <div class='row'>
            <ul class='col col-sm-10 offset-sm-1' >
              <li v-for='project in projects' class='col col-xs-10 offset-xs-10 col-md-4'>
                <div class="card">
                  <div class='card-header'>
                    <h3>{{ project.title }}</h3>
                  </div>
                  <a :href='project.link'>
                    <img class="card-image-top" :src='project.screenshot' alt="project.alt">
                  </a>
                    <div class="card-block">
                        <p class="card-text">{{project.description}}</p>
                      <a :href='project.link' class="btn btn-project">See Project</a>
                    </div>
                  
                </div>
              </li>
            </ul>
            
            
            
              <a href='#contact' type='link'><i class="fa fa-hand-o-down" aria-hidden="true"></i></a>
             
          </div>
     
        </section>
        <section id='contact'>
          <form class='col-10 offset-1 col-md-6 offset-md-3'>
            <div class='form-group'>
                  <label for="contact-form">Name</label>
                  <input type="text" class="form-control" id="contact-form">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" v-model="emailCheck" v-bind='emailCheck'>
                I prefer to be contacted by phone
              </label>
            </div>
            <div class="form-check ">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"  v-model="telephoneCheck" v-bind='telephoneCheck'>
                I prefer to be contacted by email
              </label>
          </div>
            
            <div class='form-group' v-if='emailCheck'>
                  <label for="contact-form">Email</label>
                  <input type="email" class="form-control" id="contact-form">
            </div>
            
            <div class='form-group' v-if='telephoneCheck'>
                  <label for="contact-form">Telephone Number</label>
                  <input type="telephone" class="form-control" id="contact-form">
            </div>
            
            <div class='form-group'>
                  <label for="contact-form">Message</label>
                  <textarea type="message" rows="6" class="form-control" id="contact-form">
                  </textarea>
            </div>
          </form>
             <ul id='social-links'>
              <li>
                <a href='https://github.com/kevintrogers'><i class='fa fa-github-alt' aria-hidden='true'></i></a>
              </li>
              <li>
                <a href='https://codepen.io/MonkeyMaker'><i class='fa fa-codepen' aria-hidden='true'></i></a>
              </li>
              <!--<li>-->
              <!--  <a href='https://www.facebook.com/spicymonkeymedia'><i class='fa fa-facebook' aria-hidden='true'></i></a>-->
              <!--</li>-->
              <!--<li>-->
              <!--  <a href='https://twitter.com/spicymonkymedia'><i class='fa fa-twitter' aria-hidden='true'></i></a>-->
              <!--</li>-->
              <li>
                <a href='https://www.linkedin.com/profile/view?id=AAIAAAmBUKoBdbOrqAwzQRxcyyy6wp_9xl90TVk&trk=nav_responsive_tab_profile'><i class='fa fa-linkedin' aria-hidden='true'></i></a>
              </li>
            </ul>
        </section>
        </div> 
    </div>
    </body>

    
    <script src="/js/vue.js"></script>
    <script src="/js/profile-vue.js"></script>
    <script src="script.js"></script>
 
  </html>