  <!DOCTYPE html>
  <html>
    <head>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
                          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
 <!-- Compiled and minified CSS -->


<link rel="icon" type="image/ico" href="images/favicon.ico">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 


  <link rel="styleSheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="screen">
  <link rel="styleSheet" href="css/profile.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


    </head>

    <body ng-app="app" ng-controller="ProfileController as profile" class=''>
<section id='directory row'>
  <div class='contact-info'>
  <h1>Kevin Rogers</h1>
  <h4><a href='emailto:kevin_t_rogers@hotmail.com'>kevin_t_rogers@hotmail.com</a></h4>
  <div class='row code-links'>
    <h4>Code Samples</h4>
    <ul>
      <li><a href='https://codepen.io/MonkeyMaker/'><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
      <li><a href='https://github.com/kevintrogers'><i class="fa fa-github" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  </div>
  	<div class='box'>
		<div class='head'>

				<div class='hair-left'></div>
				<div class='hair-top'></div>
				<div class='hair-right'></div>
				<div class='ear-left'></div>
				<div class='ear-right'></div>
				<div class='eye eye-left'><div class='brow'></div><div class='iris'><div class='pupil'></div></div></div>
				<div class='eye eye-right'><div class='brow'></div><div class='iris'><div class='pupil'></div></div></div>
				<div class='nose'></div>
				<div class='upper-lip'></div>
				<div class='teeth'></div>
				<div class='lower-lip'>
					
			</div>
			<div class='neck'>
			
				
			
		</div>
	</div>
  
</section>
<section id='resume'>
  <div class='row' id='summary'>
    <h3>{{heading}}</h3>
      <div class='panel col-xs-10 col-xs-offset-1'>
        <p class='summary-article'>{{summary}}</p>
      </div>
  </div>
  <div class='row' id='experience'>
  <h3>{{heading}}</h3>
  <ul>
    <li class='col-xs-10 col-xs-offset-1' v-for='job in jobs'>
      <div class='panel'>
        <div class='panel-heading'>
          <h3 class='panel-title'>{{job.dates}}</h3>
        </div>
        <img class='circle' :src='job.logo'>
     <strong class='company'>{{job.company}}</strong><span class='position'>{{job.position}}</span>
   
     <button class='btn btn-primary'  v-on:click='activate'>More</button>
     <ul id='job-details'  v-if='job.active' v-for='detail in job.details'>
       <li>
       @{{detail}}
       </li>
     </div>
     </li>
     </ul>
     </div>    
  </ul>
  <!-- circles with logos, modals with info -->
  </div>
  <div class='row' id='education'>
  <h3>{{heading}}</h3>
    <ul>
      <li class= 'col-xs-10 col-xs-offset-1' v-for='school in schools'>
      <div class='panel'>
        <div class='panel-heading'>
          <h3 class='panel-title'>{{school.school}}</h3>
        </div>
        <img class='circle' :src=' school.logo'>
      <span class='major'>Major:<strong>{{school.major}}</strong></span>
 
       </li>
       
       </ul>
       
  </div>
  
  
</section>
<section id='projects'>
  <h2>Projects</h2>
  
  
</section>
<section id='pizza'>
  <h2>Send a Pizza</h2>
  <h6>(or a message...)</h6>
  <form>
    
  </form>
  
</section>
      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script src="js/vue.js"></script>
    <script src="js/profile.js"></script>
     <script src="script.js"></script>
 

  
    </body>
      <footer class="@ flow-text">

<div class="footer-copyright col s12 grey darken-4"> 
      <div class="col s5 offset-s1 m4 offset-m2">&copy; 2016 <a href="http://spicymonkeymedia.com/#home"> Spicy Monkey Media.</a>
      </div>

  </footer>


  <footer>
</footer>
  </body>
  </html>