  <!DOCTYPE html>
  <html>
    <head>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
                          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
 <!-- Compiled and minified CSS -->


<link rel="icon" type="image/ico" href="images/favicon.ico">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


  <link rel="styleSheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="screen">
  <link rel="styleSheet" href="css/profile.css" type="text/css" media="screen">
  <link rel="styleSheet" href="css/pic.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


    </head>

    <body>
<section id='directory' class='row'>
  <div class='contact-info col-xs-6'>
    <div class='navigation visible-xs col-xs-1 col-xs-offset-3'>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class='contact-text'>
  <h1 class='hidden-xs'>Kevin Rogers</h1>
  <h4 class='hidden-xs'><a href='emailto:kevin_t_rogers@hotmail.com'>kevin_t_rogers@hotmail.com</a></h4>
  <div class='row code-links'>
    <h4 class='hidden-xs'>{{heading}}</h4>
        </div>
    <ul id='code-list' v-for='link in links'>
      <li class='col-xs-2 col-xs-offset-3 hidden-xs'><a :href='link.url'><i :class='link.icon'></i></a></li>
    </ul>

  </div>
  </div>
  	<div class='box col-xs-8 col-xs-offset-4'>
		<div class='head'>

				<div class='hair-left'></div>
				<div class='hair-top'></div>
				<div class='hair-right'></div>
				<div class='ear-left'></div>
				<div class='ear-right'></div>
				<div class='eye eye-left'><div class='brow'></div><div class='iris'><div class='pupil'></div></div></div>
				<div class='eye eye-right'><div class='brow'></div><div class='iris'><div class='pupil'></div></div></div>
				<div class='nose'></div>
				<div class='upper-lip'></div>
				<div class='teeth'></div>
				<div class='lower-lip'>
					
			</div>
			<div class='neck'>
			
				
			
		</div>
	</div>
	
  
</section>
<section id='resume'>
  <div class='row' id='summary'>
    <h3>{{heading}}</h3>
      <div class='card col-xs-10 col-xs-offset-1'>
        <p class='summary-article'>{{summary}}</p>
      </div>
  </div>
  <div class='row' id='experience'>
    <div class='row justify-content-center'>
      <divider></divider> 
      <h3>{{heading}}</h3> 
      <divider></divider>
    </div>
  <ul>
    <li class='col-xs-10 col-xs-offset-1' v-for='job in jobs'>
      <div class='card'>
        <div class='card-heading'>
          <h3 class='card-title'>{{job.dates}}</h3>
        </div>
        <img class='profile-img' :src='job.logo'>
     <strong class='company'>{{job.company}}</strong><span class='position'>{{job.position}}</span>
   
     <button class='btn btn-primary'  v-on:click='activate'>More</button>
     <ul id='job-details'  v-if='job.active' v-for='detail in job.details'>
       <li>
       @{{detail}}
       </li>
     </div>
     </li>
     </ul>
     </div>    
  </ul>
  <!-- profile-imgs with logos, modals with info -->
  </div>
  <div class='row' id='education'>
  <h3>{{heading}}</h3>
    <ul>
      <li class= 'col-xs-10 col-xs-offset-1' v-for='school in schools'>
      <div class='card'>
        <div class='card-heading'>
          <h3 class='card-title'>{{school.school}}</h3>
        </div>
        <img class='profile-img' :src=' school.logo'>
      <span class='major'>Major:<strong>{{school.major}}</strong></span>
 
       </li>
       
       </ul>
       
  </div>
  
  
</section>
<section id='projects'>
  <h2>Projects</h2>
  
  
</section>
<section id='pizza'>
  <h2>Send a Pizza</h2>
  <h6>(or a message...)</h6>
  <form>
    
  </form>
  
</section>

    </body>
      <footer class="@flow-text">

<div class="footer-copyright col s12 grey darken-4"> 
      <div class="col s5 offset-s1 m4 offset-m2">&copy; 2016 <a href="http://spicymonkeymedia.com/#home"> Spicy Monkey Media.</a>
      </div>

  </footer>


  <footer>
</footer>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
           <script src="js/vue.js"></script>
    <script src="js/profile.js"></script>
     <script src="script.js"></script>
  </body>
  </html>