 <!DOCTYPE html>
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
                          
 <!-- Compiled and minified CSS -->


<link rel="icon" type="image/ico" href="images/favicon.ico">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">  <script src="app.js"></script>

  <link rel="styleSheet" href="css/test-style.css" type="text/css" media="screen">
  <link rel="styleSheet" href="css/pic.css" type="text/css" media="screen">
  <!--  [if lt IE 9]>-->
  <!--<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
  <!--<![endif]-->


    </head>

    <body>
      <div class='container'>
        
        <section id='home'>
          
          <div id='skill-list'>
            <ul>
              <li v-for='skill in skills'>
                {{ skill.skill }}
              </li>
            </ul>
          </div>
          
          <h1> I build with code.</h1>
          
          <div id='solution-list'>
            <ul>
              <li v-for='solution in solutions'>
                {{ solution.solution }}
              </li>
            </ul>
          </div>
          
        </section>
    </div>
    </body>
      <footer class="@ flow-text">

    <div class="footer-copyright col s12 grey darken-4"> 
          <div class="col s5 offset-s1 m4 offset-m2">&copy; 2017 <a href="http://spicymonkeymedia.com/#home"> Spicy Monkey Media.</a>
          </div>
    </div>

  </footer>
    
    <script src="js/vue.js"></script>
    <script src="js/profile-vue.js"></script>
    <script src="script.js"></script>
 
  </html>